<!-- $Id: admin_logs.htm 15477 2008-12-22 03:44:50Z sunxiaodong $ -->

{if $full_page}
{include file="pageheader.htm"}
<script type="text/javascript" src="{$urls_dir}/js/utils.js"></script>
<script type="text/javascript" src="{$urls_dir}/js/listtable.js"></script>

<!-- start admin_logs list  -->
<div class="list-div" id="listDiv">
{/if}
<table cellpadding="3" cellspacing="1">
  <tr>
    <th>编号</th>
	<th>分类名称</th>
	<th>分类注释</th>
	<th>问题个数</th>
    <th>添加人</th>
    <th>添加时间</th>
	<th>设置</th>
  </tr>
  {foreach from=$class_list item=list}
  <tr>
    <td width="3%" align="center"><span>{$list.class_id}</span></td>
	<td width="18%" align="center" class="first-cell"><span>{$list.class_name}</span></td>
	<td width="25%" class="first-cell"><span>{$list.class_cent}</span></td>
	<td width="10%" align="center" class="first-cell"><span>{$list.counts}</span></td>
    <td width="15%" align="center" class="first-cell"><span>{$list.user_name}</span></td>
    <td width="15%" align="left"><span>{$list.add_time}</span></td>
    <td width="15%" align="left">
	 <span>
      <a href="index.php?act=askset&op=ask_class_edit&amp;classid={$list.class_id}" title="{$lang.edit}"><img src="images/icon_edit.gif" border="0" height="16" width="16" />{$lang.edit}</a>
      <a href="javascript:;" onclick="listTable.remove({$list.class_id}, '{$lang.drop_confirm}','ask_class_remove')" title="{$lang.remove}"><img src="images/icon_drop.gif" border="0" height="16" width="16">{$lang.remove}</a>
	 </span>
	</td>
  </tr>
   {foreachelse}
    <tr><td class="no-records" colspan="10">暂无内容,请添加问答分类</td></tr>
   {/foreach}
  <tr>
    <td align="right" nowrap="true" colspan="10">{include file="page.htm"}</td>
  </tr>
</table>

{if $full_page}
</div>
<!-- end ad_position list -->

<script type="text/javascript" language="JavaScript">
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};
  listTable.query = "ask_class_query";
  listTable.act = "askset";
  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}
  {literal}
  onload = function()
  {
    
    startCheckOrder();
  }
  {/literal}



</script>
{include file="pagefooter.htm"}
{/if}
