
{include file="pageheader.htm"}
<div class="main-div">
    <form method="post" id="form_met" action="index.php?act=attribute&op=attr_edit" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">
        <table cellspacing="1" cellpadding="3" width="100%">
            <input type="hidden" name="attr_id_update" value="{$res.attr_id}"/>
            <input type="hidden" name="goods_type" value="{$res.cat_id}"/>
            <tr>
                <td class="label">{$lang.edit_name}:</td>
                <td><input type="text" name="attr_name" id="attr_name" maxlength="60" value="{$res.attr_name}" />{$lang.require_field}</td>
            </tr>
            <tr>
                <td class="label">{$lang.edit_type}</td>
                <td>

                     <select name="attr_type">
                         {foreach from=$type_list item=val}
                              {if $val[cat_id] eq $res[cat_id]}
                              <option  value="{$val[cat_id]}" selected>{$val[cat_name]}</option>
                                {else}
                                   <option value="{$val[cat_id]}">{$val[cat_name]}</option>
                              {/if}
                         {/foreach}
                     </select>
                    {$lang.require_field}
                </td>
            </tr>
            <tr>
                <td class="label">{$lang.edit_js}</td>
                <td>
                    {if $res[attr_index] eq 0}
                      <input type="radio" name="js" value="0" checked>不需要检索
                        {else}
                      <input type="radio"  value="0" name="js" >不需要检索
                    {/if}
                    {if $res[attr_index] eq 1}
                    <input type="radio" name="js" value="1" checked>关键字检索
                        {else}
                    <input type="radio" name="js" value="1" >关键字检索
                    {/if}
                    {if $res[attr_index] eq 2}

                    <input type="radio" name="js" value="2" checked>范围检索
                        {else}
                    <input type="radio" name="js" value="2">范围检索
                    {/if}
                </td>
            </tr>
            <tr>
                <td class="label">{$lang.edit_gl}</td>
                <td>
                    {if $res[is_linked] eq 0}
                       <input type="radio" name="gl" value="0" checked>否
                        {else}
                         <input type="radio" name="gl" value="0">否
                    {/if}
                    {if $res[attr_index] eq 1}
                       <input type="radio" name="gl" value="1" checked>是
                        {else}
                         <input type="radio" name="gl" value="1" >是
                    {/if}
                </td>
            </tr>
            <tr>
                <td class="label">{$lang.edit_ischoose}</td>
                <td>
                    {if $res[attr_type] eq 0}
                      <input type="radio" name="ischoose" value="0" checked>唯一属性
                    {else}
                    <input type="radio" name="ischoose" value="0" >唯一属性
                    {/if}
                    {if $res[attr_type] eq 1}
                         <input type="radio" name="ischoose" value="1" checked>单选属性
                         {else}
                    <input type="radio" name="ischoose" value="1" >单选属性
                    {/if}
                    {if $res[attr_type] eq 2}
                         <input type="radio" name="ischoose" value="2" checked>复选属性
                           {else}
                    <input type="radio" name="ischoose" value="2">复选属性
                    {/if}
                </td>
            </tr>
            <tr>
                <td class="label">{$lang.edit_fs}</td>
                <td>
                    {if $res[attr_input_type] eq 0}
                        <input type="radio" name="fs" value="0" checked>手工录入
                         {else}
                    <input type="radio" value="0" name="fs">手工录入
                    {/if}

                    {if $res[attr_input_type] eq 1}
                    <input type="radio" name="fs" value="1" checked> 从下面的列表中选择（一行代表一个可选值）
                      {else}
                    <input type="radio" name="fs" value="1"> 从下面的列表中选择（一行代表一个可选值）
                    {/if}
                    {if $res[attr_input_type] eq 2}
                    <input type="radio" name="fs" value="2" checked>多行文本框
                    {else}
                    <input type="radio" name="fs" value="2">多行文本框
                    {/if}
                </td>
            </tr>

            <tr>
                <td class="label">{$lang.edit_list}</td>

                <td>
                    {if $res[attr_input_type] eq 0}
                        <textarea id="fsc"  name="list" cols="60" rows="4"  disabled ></textarea>
                        {else}
                         <textarea  id="fsc" name="list" cols="60" rows="4"  ></textarea>
                    {/if}
                </td>

            </tr>

            <tr>
                <td colspan="2" align="center"><br />
                    <input type="submit" class="button" value="{$lang.button_submit}" />
                    <input type="reset" class="button" value="{$lang.button_reset}" />

                </td>
            </tr>
        </table>
    </form>
</div>
{insert_scripts files="js/utils.js,js/validator.js"}

{include file="pagefooter.htm"}

<script>
    var inp_name=document.getElementById('attr_name');

    var form= document.getElementById('form_met');

    form.onsubmit=function(){
        if(!inp_name.value){
            alert('属性名称不能为空');
            return false
        }
    }


    $("input[name='fs']").click(function(){

        if($(this).val()==0){

            $('textarea[name=list]').attr('disabled','true');
        }else{

            $('textarea[name=list]').removeAttr('disabled')
        }


    })

</script>

