{if $full_page}
<!-- $Id: sale_order.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
<script language="JavaScript">
<!--

// 这里把JS用到的所有语言都赋值到这里

{foreach from=$lang.calendar_lang key=key item=item}

var {$key} = "{$item}";

{/foreach}

//-->
</script>
<script type="text/javascript" src="{$urls_dir}/js/calendar/calendar.js"></script>
<link href="{$urls_dir}/js/calendar/calendar.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$urls_dir}/js/utils.js"></script>
<script type="text/javascript" src="{$urls_dir}/js/listtable.js"></script>
<style>
.colors {
	color:#FF0000;
}
.colors a:link {
    color: #FF0000;
}
</style>
<div class="form-div">
  <form name="TimeInterval"  action="javascript:getList()" style="margin:0px">
    <tr>
        <td class="label">开始日期
        <td>
          <input name="start_time" type="text" id="start_time" size="22" value='{$time_rand.start_date}'>
          <input name="selbtn1" type="button" id="selbtn1" onclick="return showCalendar('start_time', '%Y-%m-%d', false, false, 'selbtn1');" value="{$lang.btn_select}" class="button" /></td>
      </tr>
      <tr>
        <td class="label">结束日期
        <td>
          <input name="end_time" type="text" id="end_time" size="22" value='{$time_rand.end_date}' />
          <input name="selbtn2" type="button" id="selbtn2" onclick="return showCalendar('end_time', '%Y-%m-%d', false, false, 'selbtn2');" value="{$lang.btn_select}" class="button" /></td>
      </tr>
	{$lang.usernames}&nbsp;
	<input type="text" name="userming" size="10" style="min-width: 150px;" />
    <input type="submit" name="submit" value="{$lang.query}" class="button" />
  </form>
</div>

<form method="POST" action="" name="listForm">
<div class="list-div" id="listDiv">
{/if}
{if $goods_order_count}
  <table width="100%" cellspacing="1" cellpadding="3">
	<th>{$lang.overall_sum} : {$goods_order_count.zongpicss}</th>
    <th>{$lang.fandian_buy_all} : {$goods_order_count.sumprice}</th>
    <th>{$lang.fandian_buy_count} : {$goods_order_count.yifanmai}</th>
    <th>{$lang.fandian_invite_all} : {$goods_order_count.inviteprice}</th>
    <th>{$lang.fandian_invite_count} : {$goods_order_count.yifanyao}</th>
  </table>
{/if}
  <table width="100%" cellspacing="1" cellpadding="3">
     <tr>
      <th>{$lang.payuser}</th>
	  <th>{$lang.overall_sum}</th>
	  <th>{$lang.order_sum}</th>
      <th>{$lang.zong_paysum}</th>
      <th>{$lang.zong_spaysum}</th>
      <th>{$lang.posername}</th>
      <th>{$lang.zong_yqrsum}</th>
	  <th>{$lang.zong_syqrsum}</th>
    <th>时间</th>
      <th>{$lang.caozuo}</th>
    </tr>
  {foreach from=$goods_order_data item=list name=val}
    <tr align="center">
      <td>
	  <span style="margin-bottom: 2px; line-height: 14px; display: block;"><a href="index.php?act=account_log&op=lists&user_id={$list.user_id}" target="_blank">{$list.username}</a></span>
	  <span style="border: 1px #6DD26A solid; background-color: #6DD26A; padding: 1px 2px 0px 2px; color: white; display: inline; border-radius: 2px;">{$list.alias}</span>
	  <span style="border: 1px #f40d0d solid; background-color: #f40d0d; padding: 1px 2px 0px 2px; color: white; display: inline; border-radius: 2px;">{$list.level_name}</span>
	  </td>
	  <td>{$list.zongpic}/元</td>
	  <td align="center">{$list.nums}/个</td>
      <td align="center">{$list.fanzong}/元</td>
      <td>{$list.yjfan_dian}/元</td>
      <td align="center">
	  <span style="margin-bottom: 2px; line-height: 14px; display: block;"><a href="index.php?act=account_log&op=lists&user_id={$list.parent_id}" target="_blank">{$list.parentname}</a></span>
	  <span style="border: 1px #6DD26A solid; background-color: #6DD26A; padding: 1px 2px 0px 2px; color: white; display: inline; border-radius: 2px;">{$list.parentname2}</span>
	  </td>
      <td align="center">{$list.poserfan}/元</td>
	  <td align="center">{$list.yjyqfan_dian}/元</td>
	  <td align="center">{$list.add_time}</td>
      <td align="center">
	  {if $list.yjtypewan == 0}
	    <a href="javascript:fandiancz({$list.user_id},'{$list.alias}')" title="{$lang.fandiancz}" >
			<span style="border: 1px #f40d0d solid; background-color: #f40d0d; padding: 4px 2px 4px 2px; color: #f1f1f1; display: inline; border-radius: 2px;">{$lang.fandiangcz}</span>
		</a>
	  {elseif $list.yjtypewan == 2}
	  {else}
		<span style="border: 1px #5fb45c solid; background-color: #5fb45c; padding: 4px 2px 4px 2px; color: #f1f1f1; display: inline; border-radius: 2px;">已完成购买返点</span>	
	  {/if}
	  {if $list.yqtypewan == 0}
	    <a href="javascript:yqfandiancz({$list.user_id},'{$list.parentname2}')" title="{$lang.fandianycz}" >
			<span style="border: 1px #0d49f4 solid; background-color: #0d49f4; padding: 4px 2px 4px 2px; color: #f1f1f1; display: inline; border-radius: 2px;">{$lang.fandianycz}</span>
		</a>
	  {elseif $list.yqtypewan == 2}
	  {else}
		<span style="border: 1px #45c140 solid; background-color: #45c140; padding: 4px 2px 4px 2px; color: #f1f1f1; display: inline; border-radius: 2px;">已完成邀请买返点</span>	
	  {/if}
		<a href="javascript:info({$list.user_id})" title="{$lang.xiangqing}" >
			<span style="border: 1px #e77c2d solid; background-color: #e77c2d; padding: 4px 2px 4px 2px; color: #f1f1f1; display: inline; border-radius: 2px;">{$lang.xiangqing}</span>
		</a>
		</td>
    </tr>
  {foreachelse}
    <tr><td class="no-records" colspan="13">{$lang.no_records}</td></tr>
  {/foreach}
  </table>
  <table id="page-table" cellspacing="0">
  <tr>
    <td>&nbsp;</td>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
  </table>
  <script type="Text/Javascript" language="JavaScript">
    

  </script>
{if $full_page}
</div>
</form>

<script type="Text/Javascript" language="JavaScript">
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
listTable.query = 'query';
listTable.act = 'fenxiao';
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}

{literal}

function info(userid){
  var frm =  document.forms['TimeInterval'];
  if(frm.elements['start_time'].value){
     var strat = gettimewss(frm.elements['start_time'].value +' 00:00:00')-(8*3600);
  }else{
     var strat = '';
  } 
  if(frm.elements['end_time'].value){
     var end_date = gettimewss(frm.elements['end_time'].value + ' 23:59:59')-(8*3600);
  }else{
     var end_date = '';
  }      
    
    
  location.href = "index.php?act=fenxiao&op=info&user_id="+userid+"&start_date="+strat+"&end_date="+end_date;

}

function fandiancz(userid,username){
	 var frm =  document.forms['TimeInterval'];
   if(frm.elements['start_time'].value){
     var stt = frm.elements['start_time'].value +' 00:00:00';
     var strat = gettimewss(stt)-(8*3600);
  }else{
     var strat = '';
  } 
  if(frm.elements['end_time'].value){
     var end = frm.elements['end_time'].value + ' 23:59:59';
     var end_date = gettimewss(end)-(8*3600);
  }else{
     var end_date = '';
  }    
	var mgas = '你确定要操作用户为：'+username+':'+stt+'--'+end+'期间购买返点和邀请人返点吗，操作后无法在恢复，请谨慎操作。'
	if(window.confirm(mgas)){
		 location.href ="index.php?act=fenxiao&op=fandiancz&user_id="+userid+"&start_date="+strat+"&end_date="+end_date;
	}
}

function yqfandiancz(userid,username){
	 var frm =  document.forms['TimeInterval'];
   if(frm.elements['start_time'].value){
     var stt = frm.elements['start_time'].value +' 00:00:00';
     var strat = gettimewss(stt)-(8*3600);
  }else{
     var strat = '';
  } 
  if(frm.elements['end_time'].value){
     var end = frm.elements['end_time'].value + ' 23:59:59';
     var end_date = gettimewss(end)-(8*3600);
  }else{
     var end_date = '';
  }
	 var mgas = '你确定要操作用户为：'+username+':'+stt+'--'+end+'期间邀请人返点吗，操作后无法在恢复，请谨慎操作。'
	if(window.confirm(mgas)){
		 window.open("index.php?act=fenxiao&op=yqfandiancz&user_id="+userid+"&start_date="+strat+"&end_date="+end_date);
	}
}

function getList()
{
    var frm =  document.forms['TimeInterval'];
    listTable.filter['start_date'] = gettimewss(frm.elements['start_time'].value +' 00:00:00')-(8*3600);
    listTable.filter['end_date'] = gettimewss(frm.elements['end_time'].value + ' 23:59:59')-(8*3600);
	  listTable.filter['page'] = 1;
    listTable.filter['userming'] = frm.elements['userming'].value;
	
    listTable.loadList();
    getDownUrl();
}

function gettimewss(stringTime)
{

	var timestamp2 = Date.parse(new Date(stringTime));
	 rtimestamp2 = timestamp2 / 1000;
	return rtimestamp2;
}

function getDownUrl()
{
  var aTags = document.getElementsByTagName('A');
   
  for (var i = 0; i < aTags.length; i++)
  { 

    if (aTags[i].href.indexOf('download') >= 0)
    {
      if (listTable.filter['start_date'] == "")
      {
        var frm =  document.forms['TimeInterval'];
        listTable.filter['start_date'] = gettimewss(frm.elements['start_time'].value +' 00:00:00')-(8*3600);
    listTable.filter['end_date'] = gettimewss(frm.elements['end_time'].value + ' 23:59:59')-(8*3600);
		listTable.filter['userming'] = frm.elements['userming'].value;
		
      }
      aTags[i].href = "index.php?act=fenxiao&op=download&start_date=" + listTable.filter['start_date'] + "&end_date=" + listTable.filter['end_date']+ "&userming=" + listTable.filter['userming'];
    }
  }
}

</script>
{/literal}
{include file="pagefooter.htm"}
{/if}