<div class="list-div" id="listDiv">
<table cellpadding="3" cellspacing="1">
  <tr>
    <th width="12%">
      <input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox" />
      订单号
    </th>
    <th width="5%">店铺id</th>
    <th width="8%">店铺名称</th>
	<th width="20%">商品信息</th>
    <th width="8%">分销价格</th>
    <th width="8%">成本价格</th>
    <th width="8%">成交价格</th>
	<th width="9%">申请时间</th>
	<th width="9%">结款时间</th>
	<th width="8%">结款状态(可操作)</th>
    <th>{$lang.handler}</th>
  </tr>
  {foreach from=$goods_list item=unit}
  <tr>
    <td id="" data_id="{$unit.order_id}"><input type="checkbox" name="checkboxes[]" value="{$unit.order_id}"/>{$unit.order_sn}</td>
    <td align="center"><span>{$unit.supplier_id}</span></td>
    <td align="center">{$unit.supplier_name}</td>
    <td align="center">
      {foreach from=$unit.goods_list item=goods}
      <a href="{$goods.goods_url}" target="_blank"><img src="{$goods.goods_thumb}" /><br />{$goods.goods_name} {if $goods.brand_name}[ {$goods.brand_name} ]{/if}</a><br/>
      货号：{$goods.goods_sn}&nbsp;&nbsp;&nbsp;
      库存：{$goods.storage}
      {/foreach}
    </td>
    <td align="center">{$unit.fenxiao_price}</td>
    <td align="center">{$unit.cost_price}</td>
    <td align="center">{$unit.goods_pay_price}<br/> [结算金额：{$unit.balance_price}元]</td>
	<td align="center">{$unit.add_time}</td>
	<td align="center">{$unit.pass_time}</td>
	{if $unit.balance_status == 1}
    <td align="center"  onclick="passes('{$unit.balance_price}','{$unit.sell_id}')">{$unit.o_status}</td>
	{else}
    <td align="center">{$unit.o_status}</td>	
	{/if}
	<td align="center">
		<a href="javascript:void;" onclick="listTable.remove({$unit.sell_id}, '确定要删除吗？')" title="{$lang.trash}"><img src="images/icon_trash.gif" width="16" height="16" border="0" /></a>
	</td>
  </tr>
  {foreachelse}
  <tr><td class="no-records" colspan="15">{$lang.no_records}</td></tr>
  {/foreach}
</table>
<!-- end goods list -->

<!-- 分页 -->
<table id="page-table" cellspacing="0">
  <tr>
    <td>
      <input type="hidden" name="act" value="sellsuppbalance" />
      <input type="hidden" name="op" value="batch" />
      <select name="type" id="selAction" onchange="changeAction()">
        <option value="">请选择</option>
        <option value="balance">批量结款</option>
        <option value="drop">批量删除</option>
      </select>
      <input type="submit" value="{$lang.button_submit}" id="btnSubmit" name="btnSubmit" class="button" disabled="true" />
    </td>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
</table>
</div>