<!-- $Id: agency_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="js/utils.js,js/listtable.js,js/jquery-1.6.2.min.js,js/chosen.jquery.min.js"}
<script language="JavaScript">

// 这里把JS用到的所有语言都赋值到这里

    {foreach from = $lang.calendar_lang key = key item = item}

    var {$key} = "{$item}";
    {/foreach}

</script>
<script type="text/javascript" src="{$urls_dir}/js/calendar/calendar.js"></script>
<link href="{$urls_dir}/js/calendar/calendar.css" rel="stylesheet" type="text/css" />
<link href='{$urls_dir}/styles/store.css' rel='stylesheet' type='text/css' />
<link href='{$urls_dir}/styles/chosen/chosen.css' rel='stylesheet' type='text/css' />
<div class="list-div">
    <div class="rebate-detaile">
        <div class="rebate_item rebate_shop-item">
            <div class="item-hd">
                <p>下架产品总额</p>
                <p>{$tot.tot_fenxiao_price}元</p>
            </div>
        </div>
        <div class="rebate_item rebate_goods-item">
            <div class="item-hd">
                <p>平台收入总额</p>
                <p>+{$tot.tot_pay_money}元</p>
            </div>
        </div>
        <div class="rebate_item rebate_order-item">
            <div class="item-hd">
                <p>平台支出总额</p>
                <p>0元</p>
            </div>
        </div>
    </div>
</div>
<div class="form-div">
    <form action="index.php?act=supplier_rebate" method="post" name="searchForm">
        <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <!-- <td width="7%" align="right">商家名称：</td> -->
                <td width="100%" align="left">
                    <!-- <input type="text" name="" /> -->
                    <select class="chzn-select" data-placeholder="商家名称" style="width:350px;" name="suppid"> 
                        <option value=""></option>
                        {* 代码增加 By www.taoyumall.com Start *}
                        <option value="">全部</option>
                        {* 代码增加 By www.taoyumall.com End *}

                        {foreach from=$supplier_info item=supp}
                        <option value="{$supp.supplier_id}">{$supp.supplier_name}</option>  
                        {/foreach}
                    </select>
                    <a href='javascript:search_submit()' class="button_round" title="搜索" >搜索</a>
                    <a class="button_round" title="批量导出搜索结果" onclick="exportSupps()">下载</a>
                </td>
            </tr>
        </table>
    </form>
    <div style="float: right ;margin-top: -37px "><a class="button_round" href="index.php?act=suprebate&op=lists">{$msg}</a></div>
</div>

<form method="post" action="" name="listForm" onsubmit="return confirm(batch_drop_confirm);">
    <div class="list-div" id="listDiv">
        {/if}

        <table cellpadding="3" cellspacing="1">
            <tr>
                <th>商家名称</th>
                <th><a href="javascript:listTable.sort('rebate_money'); ">下架商品总额（元）</a></th>
                <th><a href="javascript:listTable.sort('result_money'); ">下架佣金抽成总额（元）</a></th>
                <th>操作</th>
            </tr>
            {foreach from=$money item=v}
            <tr>
                <td align="center">{$v.supplier_name}</td>
                <td align="center">{$v.fenxiao_price}</td>
                <td align="center">+{$v.pay_money}</td>
                <td align="center"><a href="index.php?act=suprebate&op=xiajia_view&suppid={$v.supplier_id}" title="查看"><img src="images/icon_view.gif" border="0" height="16" width="16" /></a></td>
            </tr>
            {foreachelse}
            <tr><td class="no-records" colspan="5">{$lang.no_records}</td></tr>
            {/foreach}
            
        </table>
        <table id="page-table" cellspacing="0">
            <tr>
                <td>&nbsp;</td>
                <td align="right" nowrap="true">
                    {include file="page.htm"}
                </td>
            </tr>
        </table>

        {if $full_page}
    </div>
</form>

<script type="text/javascript" language="javascript">

    listTable.recordCount = '{$record_count}';
    listTable.pageCount = '{$page_count}';
    listTable.act = 'suprebate';
    listTable.query = 'xiajia_query';
   {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}

    {literal}

    /**
     * 搜索订单
     */
    function searchRebate()
    {
    listTable.filter['suppid'] = Utils.trim(document.forms['searchForm'].elements['suppid'].value);
    listTable.filter['page'] = 1;
    listTable.loadList();
    }
    function search_submit(){
    //listTable.query = "search_query";
    searchRebate();
    }

    function exportSupps()
    {
    var frm = document.forms['searchForm'];
    frm.action = "index.php?act=suprebate&op=export_supps_xiajia&is_export=1";
    frm.submit();
    }
    {/literal}
            //-->
</script>
<script type="text/javascript">
            $().ready(function(){
    $(".chzn-select").chosen();
    });
</script>
{include file="pagefooter.htm"}
{/if}