{include file="pageheader.htm"}
<div class="main-div">
    <form method="post" id="form_met" action="index.php?act=mail_templates&op=templates_add" name="theForm" enctype="multipart/form-data" >
        <table cellspacing="1"
cellpadding="3" width="100%">

            <input type="hidden" name="goods_type" value="1"/>

            <tr>
                <td class="label">{$lang.tem_key}:</td>
               <td><input type="text" name="tem_key"  maxlength="60" value=""  id="inp1"/>{$lang.require_field}</td>
            </tr>



            <tr>
                <td class="label">{$lang.tem_name}:</td>
                <td><input type="text" name="tem_name"  maxlength="60" value="" id="inp2"/>{$lang.require_field} </td>

            </tr>

            <tr>
                <td class="label">{$lang.tem_body}:</td>
                <td><textarea  name="template_content" cols="60" rows="4"  id="inp3">【{$lang.site_name}】</textarea>{$lang.dui}
                </td>

            </tr>

            <tr>
                <td colspan="2" align="center"><br />
                    <input type="submit" class="button" value="{$lang.button_submit}" />

                </td>
            </tr>
        </table>
    </form>
</div>
{insert_scripts files="js/utils.js,js/validator.js"}

{include file="pagefooter.htm"}

<script>
    var inp_name=document.getElementById('inp1');
    var inp_name2=document.getElementById('inp2');
    var inp_name3=document.getElementById('inp3');

    var form= document.getElementById('form_met');

    form.onsubmit=function(){
        if(!inp_name.value){
            alert('key不能为空');
            return false
        }
        if(!inp_name2.value){
            alert('名称不能为空');
            return false
        }

        if(!inp_name3.value){
            alert('模板内容不能为空');
            return false
        }

    }

</script>