<!-- $Id: user_account_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->

{include file="pageheader.htm"}

<script type="text/javascript" src="{$urls_dir}/js/validator.js"></script>

<div class="main-div">

    <form action="index.php" method="post" name="theForm" onsubmit="return validate()">

        <table width="100%">

            <tr>

                <td class="label">{$lang.user_id}：</td>

                <td>
                    {$user_name}
                </td>

            </tr>

            <tr>

                <td class="label">{$lang.surplus_amount}：</td>

                <td>

                  {$user_surplus.amount}

                </td>

            </tr>

            <tr>

                <td class="label">{$lang.pay_mothed}：</td>

                <td>
                    {$user_surplus.payment}

                </td>

                </td>

            </tr>

            <tr>

                <td class="label">{$lang.process_type}：</td>

                <td>

                    <input type="radio"  disabled="true" name="process_type" value="0"

                           {if $user_surplus.process_type eq 0} checked="true" {/if} {if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3 || $action eq "edit"}disabled="true" {/if} />{$lang.surplus_type_0}

                           <input disabled="true" type="radio" name="process_type" value="1"

                           {if $user_surplus.process_type eq 1} checked="true" {/if} {if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3|| $action eq "edit"}disabled="true" {/if} />{$lang.surplus_type_1}

                           {if $action eq "edit" && ($user_surplus.process_type eq 2 || $user_surplus.process_type eq 3)}

                           <input disabled="true" type="radio" name="process_type" value="2"

                           {if $user_surplus.process_type eq 2|| $action eq "edit"} checked="true"{/if}{if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3} disabled="true"{/if} />{$lang.surplus_type_2}

                           <input disabled="true" type="radio" name="process_type" value="3"

                           {if $user_surplus.process_type eq 3|| $action eq "edit"} checked="true"{/if}{if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3} disabled="true"{/if} />{$lang.surplus_type_3}

                           {/if}

                </td>

            </tr>

            <tr>

                <td class="label">{$lang.surplus_notic}：</td>

                <td>

                    <p {if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3} readonly="true" {/if}>{$user_surplus.admin_note}</p>

                </td>

            </tr>

            <tr>

                <td class="label">{$lang.surplus_desc}：</td>

                <td>

                    <p {if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3} readonly="true" {/if}>{$user_surplus.user_note}</p>

                </td>

            </tr>

            <tr>

                <td class="label">{$lang.status}：</td>

                <td>

                    {if $user_surplus.process_type eq 0}

                    <input  disabled="true" type="radio" name="is_paid" value="0"

                           {if $user_surplus.is_paid eq 0} checked="true" {/if} {if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3 ||$action eq "edit"} disabled="true"{/if}/>{$lang.unconfirm}

                           <input disabled="true" type="radio" name="is_paid" value="1"

                           {if $user_surplus.is_paid eq 1} checked="true" {/if} {if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3 ||$action eq "edit"} disabled="true"{/if}/>{$lang.confirm}

                           <input disabled="true" type="radio" name="is_paid" value="2"

                           {if $user_surplus.is_paid eq 2} checked="true" {/if} {if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3 ||$action eq "edit"} disabled="true"{/if}/>{$lang.cancel}

                           {else}

                           <input disabled="true" type="radio" name="is_paid" value="0"

                           {if $user_surplus.is_tx eq 0} checked="true" {/if} disabled="true"/>{$lang.unconfirm}

                           <input disabled="true" type="radio" name="is_paid" value="1"

                           {if $user_surplus.is_tx eq 1} checked="true" {/if} disabled="true"/>{$lang.confirm}

                           <input disabled="true" type="radio" name="is_paid" value="2"

                           {if $user_surplus.is_tx eq 2} checked="true" {/if} disabled="true"/>{$lang.cancel}

                           {/if}

                </td>

            </tr>

            

        </table>

    </form>

</div>



<script language="JavaScript">

<!--

    {
        literal
    }

    onload = function ()

    {

        // 开始检查订单

        startCheckOrder();

    }



    /**
     
     * 检查表单输入的数据
     
     */

    function validate()

    {

        validator = new Validator("theForm");



        validator.required("user_id", user_id_empty);

        validator.required("amount", deposit_amount_empty);

        validator.isNumber("amount", deposit_amount_error, true);



        var deposit_amount = document['theForm'].elements['amount'].value;

        if (deposit_amount.length > 0)

        {

            if (deposit_amount == 0 || deposit_amount < 0)

            {

                alert(deposit_amount_error);

                return false;

            }

        }



        return validator.passed();

    }



//-->

    {
        /literal}

</script>

{include file="pagefooter.htm"}